/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


@import "compass/reset";
@import "compass/typography";
@import "variables";

a {
	text-decoration: none;
	font-family: $font-family;
	color: #fff;
	// @include link-colors(#333, #00f, #f00, #555, #f00);
}
.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}

.container {
	margin: 0 auto;
	width: 960px;
	position: relative;
	font-family: $font-family;
}


@import "header";
@import "content";
@import "footer";