/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/screen.scss */
a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

/* line 17, ../sass/screen.scss */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 25, ../sass/screen.scss */
.container {
  margin: 0 auto;
  width: 960px;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

/* line 2, ../sass/_header.scss */
#main-header {
  width: auto;
  height: 356px;
}

/* line 7, ../sass/_header.scss */
#header-bg {
  position: absolute;
  width: 100%;
  min-width: 1080px;
  background: url(../imgs/allbgs.png) repeat-x 0px -326px;
  height: 356px;
  z-index: -100;
}

/* line 16, ../sass/_header.scss */
.top-nav > ul {
  float: left;
  height: 30px;
}
/* line 19, ../sass/_header.scss */
.top-nav > ul > li {
  float: left;
  line-height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #c0c0c0;
}
/* line 25, ../sass/_header.scss */
.top-nav > ul > li > span {
  margin: 0 10px;
  font-weight: bolder;
}
/* line 29, ../sass/_header.scss */
.top-nav > ul > li > a {
  color: #c0c0c0;
}
/* line 34, ../sass/_header.scss */
.top-nav > div {
  float: right;
  height: 30px;
  line-height: 30px;
}
/* line 38, ../sass/_header.scss */
.top-nav > div #top-icon-phone {
  margin-right: 30px;
  display: inline-block;
  line-height: 22px;
  color: #fff;
  background: url(../imgs/icons.png) no-repeat 0px -22px;
  height: 22px;
  padding-left: 22px;
  font-size: 13px;
}
/* line 48, ../sass/_header.scss */
.top-nav > div #top-icon-chat {
  margin-right: 25px;
  display: inline-block;
  line-height: 22px;
  color: #fff;
  background: url(../imgs/icons.png) no-repeat 0px -44px;
  height: 22px;
  padding-left: 32px;
  font-size: 13px;
}
/* line 58, ../sass/_header.scss */
.top-nav > div #top-icon-flag1 {
  display: inline-block;
  background: url(../imgs/icons.png) no-repeat 0px 0px;
  height: 11px;
  padding-left: 22px;
}
/* line 64, ../sass/_header.scss */
.top-nav > div #top-icon-flag2 {
  display: inline-block;
  background: url(../imgs/icons.png) no-repeat 0px -11px;
  height: 11px;
  padding-left: 22px;
}

/* line 73, ../sass/_header.scss */
.middle-nav {
  height: 100px;
  background-image: url(../imgs/Layer3.png);
}

/* line 77, ../sass/_header.scss */
#bag-img {
  position: absolute;
  top: 6px;
  background: url(../imgs/icons.png) no-repeat 0px -722px;
  height: 88px;
  padding-left: 78px;
  display: inline-block;
}

/* line 85, ../sass/_header.scss */
#bag-tips {
  position: absolute;
  top: 30px;
  left: 80px;
  color: #fff;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

/* line 93, ../sass/_header.scss */
#bag-button {
  position: absolute;
  height: 23px;
  width: 116px;
  left: 100px;
  bottom: 14px;
  background: url(../imgs/icons.png) no-repeat 0px -66px;
  text-align: center;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 23px;
}
/* line 104, ../sass/_header.scss */
#bag-button a {
  color: #ffc200;
}

/* line 108, ../sass/_header.scss */
#middle-info {
  position: absolute;
  left: 336px;
  display: inline-block;
  text-align: center;
  color: #fff;
}
/* line 114, ../sass/_header.scss */
#middle-info p {
  font-size: 45px;
  height: 50px;
  line-height: 50px;
  text-shadow: 2.5px 4.33px 4.75px rgba(131, 13, 2, 0.5);
}

/* line 122, ../sass/_header.scss */
.nav-search input, #footer-search .container form input {
  position: absolute;
  top: 33px;
  right: 42px;
  border: 0;
  padding: 0 0 0 20px;
  height: 30px;
  width: 221px;
  outline: none;
  background: url(../imgs/icons.png) no-repeat 0px -204px;
}
/* line 133, ../sass/_header.scss */
.nav-search button, #footer-search .container form button {
  position: absolute;
  top: 33px;
  right: 0;
  margin-left: -4px;
  border: 0;
  padding: 0;
  width: 42px;
  height: 30px;
  cursor: pointer;
  background: url(../imgs/icons.png) no-repeat 0px -172px;
}

/* line 148, ../sass/_header.scss */
.bottom-nav ul {
  margin: 0 25px;
}
/* line 150, ../sass/_header.scss */
.bottom-nav ul li {
  margin: 8px 0;
  float: left;
  padding: 0 15px;
  color: #fff;
  height: 28px;
  text-align: center;
  line-height: 28px;
}
/* line 159, ../sass/_header.scss */
.bottom-nav ul .nav-active {
  background: url(../imgs/icons.png) no-repeat 0px -114px;
}

/* line 1, ../sass/_content.scss */
.content {
  margin-top: -159px;
  border-top-right-radius: 27px;
  border-top-left-radius: 27px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/* line 7, ../sass/_content.scss */
#content-header {
  position: relative;
  padding-top: 258px;
  height: 53px;
  background-image: url(../imgs/header.png);
}
/* line 12, ../sass/_content.scss */
#content-header #product-title {
  position: absolute;
  left: 32px;
  font-size: 25px;
  font-weight: bold;
  color: #ffc600;
  line-height: 53px;
  display: inline-block;
  z-index: 1;
}
/* line 22, ../sass/_content.scss */
#content-header #product-description {
  position: absolute;
  left: 10px;
  margin-top: 12px;
  padding-left: 269px;
  height: 53px;
  line-height: 18px;
  width: 650px;
  color: #ffcccc;
  font-size: 13px;
  display: inline-block;
  z-index: 1;
}
/* line 37, ../sass/_content.scss */
#content-header #bg-opacity {
  position: absolute;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.9);
  height: 53px;
  width: 940px;
  opacity: .8;
}

/* line 47, ../sass/_content.scss */
#categories {
  margin: 31px 0 0 10px;
  width: 209px;
  text-align: center;
  display: inline-block;
}
/* line 52, ../sass/_content.scss */
#categories h3 {
  font-size: 15px;
  height: 30px;
  line-height: 30px;
  background: url(../imgs/icons.png) no-repeat 0px -142px;
  color: #fff;
}
/* line 59, ../sass/_content.scss */
#categories ul {
  padding: 15px 8px;
  background-color: #ffeeb7;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* line 64, ../sass/_content.scss */
#categories ul li {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  border-bottom: 1px solid #fff;
}
/* line 69, ../sass/_content.scss */
#categories ul li:last-child {
  border: none;
}
/* line 73, ../sass/_content.scss */
#categories ul .cate-selected a {
  color: #b20e00;
}
/* line 76, ../sass/_content.scss */
#categories ul a {
  color: #434343;
}

/* line 82, ../sass/_content.scss */
#products {
  position: absolute;
  top: 342px;
  left: 246px;
  width: 706px;
  padding-bottom: 5px;
  border-bottom: 1px solid #cdcdc8;
}
/* line 90, ../sass/_content.scss */
#products form label {
  font-size: 12px;
  font-weight: bold;
  color: #747474;
}
/* line 95, ../sass/_content.scss */
#products form select {
  margin-right: 10px;
  font-size: 12px;
  color: #747474;
}
/* line 100, ../sass/_content.scss */
#products form > span {
  margin-left: 100px;
  font-size: 12px;
}
/* line 103, ../sass/_content.scss */
#products form > span a {
  color: #999;
}
/* line 106, ../sass/_content.scss */
#products form > span span {
  color: #b20e00;
}
/* line 111, ../sass/_content.scss */
#products h3 {
  margin: 29px 0 15px 0;
  font-size: 18px;
  font-weight: bolder;
  color: #666;
}
/* line 117, ../sass/_content.scss */
#products .products-list {
  width: 736px;
}
/* line 119, ../sass/_content.scss */
#products .products-list li {
  float: left;
  width: 156px;
  margin-right: 28px;
}
/* line 124, ../sass/_content.scss */
#products .products-list li p a {
  color: #666;
}
/* line 127, ../sass/_content.scss */
#products .products-list li p span {
  color: #b20e00;
}
/* line 131, ../sass/_content.scss */
#products .products-list li .product-name {
  margin-top: 10px;
  font-size: 15px;
  font-weight: bolder;
}
/* line 136, ../sass/_content.scss */
#products .products-list li .product-price {
  margin: 3px 0 45px 0;
  font-size: 12px;
}
/* line 142, ../sass/_content.scss */
#products .page-list {
  margin-left: 255px;
  width: 451px;
}
/* line 145, ../sass/_content.scss */
#products .page-list li {
  float: left;
  padding: 0 6px;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}
/* line 152, ../sass/_content.scss */
#products .page-list li a {
  color: #b20e00;
}
/* line 156, ../sass/_content.scss */
#products .page-list .page-selected {
  background-color: #b20e00;
}
/* line 158, ../sass/_content.scss */
#products .page-list .page-selected a {
  color: #fff;
}

/* line 165, ../sass/_content.scss */
#join-us {
  margin: 12px 10px 0 10px;
  width: 179px;
  padding: 15px 15px 8px 15px;
  background-color: #f5f5f2;
  border-radius: 10px;
  text-align: center;
}
/* line 172, ../sass/_content.scss */
#join-us h3 {
  color: #666;
  font-size: 15px;
  font-weight: bolder;
  line-height: 20px;
}
/* line 178, ../sass/_content.scss */
#join-us input {
  margin-top: 13px;
  width: 175px;
  border: 1px solid;
  border-top-color: #9c9c9c;
  border-left-color: #c0c0c0;
  border-right: #fff;
  border-bottom: #fff;
}
/* line 187, ../sass/_content.scss */
#join-us button {
  margin-top: 7px;
  border: none;
  padding: 0;
  outline: none;
  background: url(../imgs/icons.png) no-repeat 0px -89px;
  height: 25px;
  width: 90px;
  color: #fff;
  cursor: pointer;
}
/* line 198, ../sass/_content.scss */
#join-us ul {
  margin-top: 13px;
}
/* line 200, ../sass/_content.scss */
#join-us ul li {
  width: 179px;
  padding: 8px 0;
  border-top: 1px solid #fff;
  font-size: 13px;
}
/* line 205, ../sass/_content.scss */
#join-us ul li span {
  display: inline-block;
  vertical-align: middle;
}
/* line 209, ../sass/_content.scss */
#join-us ul li .join-icons {
  height: 32px;
  width: 34px;
}
/* line 213, ../sass/_content.scss */
#join-us ul li .join-info {
  width: 145px;
  line-height: 18px;
  color: #434343;
  font-size: 13px;
}

/* line 222, ../sass/_content.scss */
#join-twitter {
  background: url(../imgs/icons.png) no-repeat 0px -234px;
}

/* line 225, ../sass/_content.scss */
#join-facebook {
  background: url(../imgs/icons.png) no-repeat 0px -298px;
}

/* line 228, ../sass/_content.scss */
#join-linkedln {
  background: url(../imgs/icons.png) no-repeat 0px -266px;
}

/* line 231, ../sass/_content.scss */
#join-email {
  background: url(../imgs/icons.png) no-repeat 0px -330px;
}

/* line 235, ../sass/_content.scss */
#payment {
  margin: 30px 0 0 10px;
  width: 209px;
  text-align: center;
}
/* line 240, ../sass/_content.scss */
#payment img:first-child {
  margin-left: 4px;
}

/* line 245, ../sass/_content.scss */
#featured {
  position: absolute;
  top: 1059px;
  left: 246px;
}
/* line 249, ../sass/_content.scss */
#featured h3 {
  margin: 29px 0 15px 0;
  font-size: 18px;
  font-weight: bolder;
  color: #666;
}
/* line 255, ../sass/_content.scss */
#featured > div {
  position: relative;
  padding: 25px 0 15px 0;
  width: 688px;
  margin: 0 9px;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
/* line 263, ../sass/_content.scss */
#featured > div .featured-product {
  width: 147px;
  display: inline-block;
  margin-left: 57px;
  font-size: 12px;
  text-align: center;
}
/* line 269, ../sass/_content.scss */
#featured > div .featured-product a {
  margin-top: 10px;
  display: inline-block;
  color: #660000;
}

/* line 277, ../sass/_content.scss */
#featured-left-button, #featured-right-button {
  position: absolute;
  top: 65px;
  left: -8px;
  background: url(../imgs/icons.png) no-repeat 0px -441px;
  height: 43px;
  width: 37px;
  cursor: pointer;
}

/* line 286, ../sass/_content.scss */
#featured-right-button {
  left: 661px;
  background: url(../imgs/icons.png) no-repeat 0px -398px;
}

/* line 1, ../sass/_footer.scss */
#footer-search {
  width: 100%;
  height: 61px;
  word-spacing: 1px;
}
/* line 7, ../sass/_footer.scss */
#footer-search .container form {
  margin-left: 65px;
  height: auto;
  display: inline-block;
}
/* line 12, ../sass/_footer.scss */
#footer-search .container form input {
  position: static;
}
/* line 15, ../sass/_footer.scss */
#footer-search .container form button {
  position: relative;
  left: -4px;
  top: 11px;
}

/* line 23, ../sass/_footer.scss */
#footer-search-bg {
  position: absolute;
  width: 100%;
  min-width: 1080px;
  background: url(../imgs/allbgs.png) repeat-x 0px 0px;
  height: 61px;
  z-index: -100;
}

/* line 31, ../sass/_footer.scss */
#footer-icon-left, #footer-icon-right {
  margin-left: 10px;
  background: url(../imgs/icons.png) no-repeat 0px -528px;
  height: 55px;
  width: 58px;
  vertical-align: middle;
  display: inline-block;
}

/* line 39, ../sass/_footer.scss */
#footer-tips-left, #footer-tips-right {
  font-size: 14px;
  color: #cbcbcb;
  line-height: 61px;
  vertical-align: middle;
  display: inline-block;
}

/* line 46, ../sass/_footer.scss */
#footer-icon-right {
  margin-left: 30px;
  background: url(../imgs/icons.png) no-repeat 0px -362px;
  height: 36px;
  width: 43px;
}

/* line 57, ../sass/_footer.scss */
#footer-info {
  height: 242px;
}
/* line 60, ../sass/_footer.scss */
#footer-info ul {
  width: 192px;
  float: left;
}
/* line 63, ../sass/_footer.scss */
#footer-info ul h3 {
  margin: 25px 0;
  color: #fff;
  font-size: 15px;
  font-weight: bolder;
}
/* line 69, ../sass/_footer.scss */
#footer-info ul li > a {
  color: #cfcfcf;
  font-size: 13px;
  line-height: 20px;
}
/* line 73, ../sass/_footer.scss */
#footer-info ul li > a span {
  color: #ffcc00;
}

/* line 79, ../sass/_footer.scss */
#footer-info-bg {
  background: url(../imgs/allbgs.png) repeat-x 0px -75px;
  position: absolute;
  width: 100%;
  min-width: 1080px;
  height: 242px;
  z-index: -100;
}
