
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-twitter:before { content: "\e61d"; }
.icon-facebook:before { content: "\e6b8"; }
.icon-skype:before { content: "\ec02"; }
.icon-wifi:before { content: "\e60d"; }
.icon-dayuhao:before { content: "\e623"; }
.icon-xiaoyuhao:before { content: "\e658"; }
.icon-4:before { content: "\e603"; }
.icon-search:before { content: "\e609"; }
.icon-qunzu:before { content: "\e60e"; }
.icon-xiangji:before { content: "\e618"; }
.icon-yijingbiaoqi:before { content: "\e613"; }
.icon-camera:before { content: "\e7c1"; }
.icon-biao:before { content: "\e605"; }
.icon-yanjing:before { content: "\e610"; }
.icon-dian:before { content: "\e60b"; }
